<div class="row">
    How many days was the longest bullish (upward) trend within a given date range?
    {{longestUpwardDays}} days
</div>

<div class="row">
    Which dates within a given date range had a) the highest trading volume and b) the most
    significant stock price change within a day?
    <div *ngFor="let r of stocksPriceChange">
        {{r.date | date}}
        {{r.volume}}
        {{r.priceChange}}
    </div>
</div>

<div class="row">
    Within a given date range, which dates had the best opening price compared to 5 days
    simple moving average (SMA 5)?
    <div *ngFor="let r of stocksBestOpening">
        {{r.date | date}}
        {{r.smaPriceChangePercentage | percent}}
    </div>
</div>